{% extends 'base.html' %}
{% block title %}
Delete Post
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1> You can delete <br> your lesson here </h1>
        <br>
        <br>

        <h3>Delete: {{ post.title }}</h3>
        <div class="form-group"></div>
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure you want to delete this lesson? </strong>
            <br>
            <button class="btn btn-secondary">Delete</button>

        </div>
    {% else %}
            Only author can delete this lesson
    {% endif %}
{% else %}
        Please log in to delete this lesson

{% endif%}

{% endblock %}