{% extends 'base.html' %}
{% block title %}
Update Post
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1> Go ahead to <br> update your blog post here </h1>
        <br>
        <br>

        <div class="form-group"></div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <button class="btn btn-secondary">Post</button>

        </div>
    {% else %}
            Only author can make changes of this lesson
    {% endif %}
{% else %}
        Please <a href="{% url 'login' %}"> login </a> to make changes

{% endif%}

{% endblock %}